/* Jamain Johari Default CSS 20101229*/
.fbbody
{
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    color: #333333;
    top: 0;
}

.fbbody a
{
    text-decoration: none;
}

.fbbody a:hover
{
    text-decoration: underline;
}

.fbbody a:active
{
    text-decoration: underline;
}

/*fbheader*/
.fbheader_title
{
    color: #990000;
    font-size: 30px;
    font-weight: bold;
    padding-left: 0px;
    text-align: left;
}

.fbheader_title a
{
    color: #990000;
    text-decoration: none;
    outline-style: none;
    padding: 5px;
}

.fbheader_title a:hover
{
    text-decoration: none;
}

.fbheader_menu
{
    width: 100%;
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #990000;
    color: #FFFFFF;
}

.fbheader_menu tr
{
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #990000;
    color: #FFFFFF;
}

.fbheader_menu td
{
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #990000;
    color: #FFFFFF;
}

.fbheader_menu a
{
    color: #FFFFFF;
    text-decoration: none;
    outline-style: none;
    padding: 5px;
}

.fbheader_menu a:hover
{
    text-decoration: none;
}

.fbheader_items
{
    background-color: #990000;
    color: #FFFFFF;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    text-align: left;
    vertical-align: top;
}

.fbheader_items a
{
    color: #FFFFFF;
    text-decoration: none;
    outline-style: none;
    padding: 5px;
}


/*fbnav*/
.fbnav_header
{
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #CCCC66;
    color: #FFFFFF;
}

.fbnav_header a
{
    color: #FFFFFF;
    text-decoration: none;
    outline-style: none;
    padding: 5px;
}

.fbnav_header a:hover
{
    background: #6D84B4;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.fbnav_items
{
    border-bottom: solid 1px #0099FF;
    border-bottom-color: #66CCFF;
    font-size: 11px;
    vertical-align: middle;
}

.fbnav_items a
{
    color: #000000;
    text-decoration: none;
}

.fbnav_items a:hover
{
    text-decoration: none;
}

.fbnav_items td:hover
{
    background-color: #CCFFFF;
}

/*fbsection*/
.fbsection
{
    background-color: #FFFFFF;
    vertical-align: top;
    text-align: left;
    width: 100%;
}

/*fbsection_header*/
.fbsection_header tr
{
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    font-size:larger;
    vertical-align: top;
    background: #CCCC66; /* #3B5998;*/
    color: #000000;
}

.fbsection_header td
{
    border: 0px;
    text-decoration: none;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #CCCC66; /* #3B5998;*/
    color: #000000;
}

.fbsection_header a
{
    text-decoration: none; /*color: #FFFFFF;*/
}

.fbsection_title
{
    font-size: 16px;
    color: Black;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #000000;
}

.fbsection_date
{
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    font-weight: bold;
    font-style: italic; /*padding-left: 5px;*/
}

.fbsection_sap
{
    border-bottom: dotted 1px #cccccc;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    height: 0px;
}

fbsection_normal
{
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    padding-left: 5px;
}

/*fbsection_article*/
.fbsection_article
{
    text-align: left;
    vertical-align: top;
    font-size: 12px; /*padding-left: 5px;*/
}

.fbsection_article a
{
    font-weight: bold;
}

.fbsection_article a:hover
{
    text-decoration: none;
}

.fbsection_article img
{
    text-align: left;
    vertical-align: top;
    background-color: #FFFFFF;
    border: 0px;
}


/*fbsection_footer*/
.fbsection_footer
{
    text-decoration: underline;
    color: White;
    font-weight: bold;
    background-color: #5D7B9D;
}

/*fbaside*/
.fbaside_header
{
    border: 0px;
    width: 100%;
    text-decoration: none;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #CCCC66;
    color: #FFFFFF;
}

.fbaside_header a
{
    text-decoration: none;
}

.fbaside_header a:hover
{
    text-decoration: none;
}

.fbaside_image
{
    vertical-align: top;
}

.fbaside_items
{
    font-size: 12px;
    vertical-align: middle;
    border-bottom: solid 1px #0099FF;
    border-bottom-color: #CCCCCC; /*#66CCFF;*/
}

.fbaside_items a
{
}

.fbaside_items a:hover
{
}

.fbaside_tiny
{
    font-size: 10px;
    color: #777;
}

.fbaside_sap
{
    border-bottom: solid 1px #cccccc;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    height: 0px;
}

/*fbfooter*/
.fbfooter
{
    border-top: solid 2px #990000; /*1px solid #e2c822;*/
}


/*login table*/
.fblogin_table
{
    background-color: Olive;
    border: 1px solid #0099FF;
    color: #FFFFFF;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    text-align: left;
    vertical-align: top;
}

.fblogin_table a
{
    color: #FFFFFF;
    text-decoration: none;
    outline-style: none;
    padding: 5px;
}

.fblogin_table a:hover
{
    padding: 5px;
    text-decoration: underline;
}


/*FORM*/
.fbform
{
    vertical-align: top;
    text-align: left;
    width: 100%;
    border: solid 1px #C0C0C0;
    background-color: #eceff6; /* #ECECEC;   #eceff6;*/
}

.fbform_header tr
{
    border: 0px;
    width: 100%;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #657383; /*#C0C0C0; #B1B1B1;*/
    color: #000000;
}

.fbform_header td
{
    border: 0px;
    outline-style: none;
    padding: 8px 5px 8px 5px;
    font-weight: bolder;
    text-align: left;
    vertical-align: top;
    background: #E0E0E0;
    color: #000000;
}

.fbform_header a
{
    color:Blue;
}

.fbform_title tr
{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 1px;
    padding: 8px 5px 8px 0px;
}

.fbform_title td
{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 1px;
    padding: 8px 5px 8px 0px;
}


.fbbutton
{
    border-left: 1px solid #D9DFEA;
    border-right: 1px solid #0e1f5b;
    border-top: 1px solid #D9DFEA;
    border-bottom: 1px solid #0e1f5b;
    padding: 1px 3px 1px 4px;
    font-size: 1em;
    cursor: pointer;
    background: #3b5998;
    color: #fff;
    height: 25px;
    width:150px;
}

.fbbuttonnext, fbbuttoncancel
{
    background: #ddd;
    color: #111;
    border: 1px solid #666;
    border-left-color: #ddd;
    border-top-color: #ddd;
}

.fblabel_msg
{
    color: Red;
    font-weight: bold;
}

.fblabel_view
{
    color: Black;
    font-weight: bold;
}

.fbreadonly
{
    background-color: #C0C0C0;  
}

.fbform_sap
{
    border-bottom: solid 1px #cccccc;
    vertical-align: middle;
    padding: 5px 0px 0px 0px;
}

/*MESSSAGE BOX */
.info, .success, .warning, .error, .validation
{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
}
.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../img/success.png');
}
.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
}
.error
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

.validation
{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../img/validation.png');
}

.modal_bg
{
    background-color: Gray;
    /*filter: alpha(opacity=70);
    opacity: 0.7;*/
}

.popup_style
{
    font: normal 11px auto "Trebuchet MS" , Verdana;
    background-color: #ffffff;
    color: #4f6b72;
    padding: 6px;
    /*filter: alpha(opacity=80);
    opacity: 0.8;*/
}

.drag
{
    background-color: #dddddd;
    cursor: move;
    border: solid 1px gray;
}

/**---mycustomtable--**/
#mycustomtable
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
#mycustomtable td, #mycustomtable th
{
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 5px 7px 5px 7px;
}
#mycustomtable th
{
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #66CCFF;
    color: #ffffff;
}
#mycustomtable tr.alt td
{
    color: #000000;
    background-color: #EAF2D3;
}

/*GRIDVIEW Styling*/
.cssPager span { background-color:#ffffff; padding-left:4px; padding-right:4px; color:Black;}  

.mGrid { 
    width: 100%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.mGrid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

.lblBreadcrum
{
    color:#61210B;
    font-weight:bold;
}

.lnkButton
{
	color:Blue;
	font-weight:bold;
}